/** default styling (mobile first)**/
#page-wrapper1 {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
  border-radius: 12px 12px 0px 0px;
  padding : 20px;
  background-color: yellow;
}

#box-h { 
background-color: #000000;
border: 3rem black;
padding: 5rem;
width: auto;
height: auto;
margin-left: auto;
margin-right: auto;
margin-top: 2rem;
margin-bottom: 2rem;
}

#header1 {
  color: yellow;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#section1 { 
  background-color: black;
  color: yellow;
  text-align: center;
  border: 1rem black;
  padding: 1rem;
  width: auto;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#section2 { 
  background-color: black;
  color: yellow;
  text-align: center;
  border: 1rem black;
  padding: 1rem;
  width: auto;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* breakpoint for tablets */
@media (min-width: 768px) {
  #page-wrapper1 {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
    border-radius: 12px 12px 0px 0px;
    padding : 2px;
    background-color: lightskyblue;
  }

  #box-h { 
    background-color: #000000;
    border: 3rem black;
    padding: 5rem;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #header1 {
    color: lightskyblue;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
  }

  #section1 { 
    background-color: black;
    color: lightskyblue;
    text-align: center;
    border: 1rem black;
    padding: 1rem;
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  #section2 { 
    background-color: black;
    color: lightskyblue;
    text-align: center;
    border: 1rem black;
    padding: 1rem;
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

/*breakpoint for desktops */
@media (min-width: 992px) {
 
  #page-wrapper1 {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
    border-radius: 12px 12px 0px 0px;
    padding : 20px;
    background-color: plum;
  }

  #box-h { 
    background-color: #000000;
    border: 3rem black;
    padding: 5rem;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #header1 {
    color: plum;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #section1 { 
    background-color: black;
    color: plum;
    text-align: center;
    border: 1rem black;
    padding: 1rem;
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  #section2 { 
    background-color: black;
    color: plum;
    text-align: center;
    border: 1rem black;
    padding: 1rem;
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
